.dropdown{
    .title{
        border-radius: 10px;
        padding: 1rem 1.5rem;
        background-color: #FF6060;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        font-weight: 500;
        cursor: pointer;
        font-family: "Montserrat", sans-serif;
    }
    .dropdown-content{
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s ease-out;
        .content-inner {
            font-size: 1.2rem;
            color: black;
            padding: 1rem;
            background-color: #F6F6F6;
            border-radius: 10px;
        }
    }
    .hide{
        max-height: 0;
    }
    .show{
        max-height: 200px;
    }
    .chevron {
        display: flex;
        transition: transform 0.3s ease-out;
        transform-origin: center;
      }
      
      .chevron.down {
        transform: rotate(0deg);
      }
      
      .chevron.up {
        transform: rotate(-180deg);
      }
}
@media (max-width: 768px) {
    .dropdown{
        .title{
            font-size: 1rem;
            padding: 0.6rem 1rem;
        }
        .dropdown-content{
            font-size: 0.8rem;
            span{
                line-height: 5px;
                font-size: 0.8rem;
            }
        }
        .hide{
            display: none;
        }
    }
}