.not-found{
    text-align: center;
    margin: 5rem;
    h1{
        font-size: 10rem;
        color: #FF6060;
        font-weight: 700;
        margin: 2rem;
    }
    .text{
        font-size: 2rem;
        color: #FF6060;
        font-weight: 500;
        margin-bottom: 5rem;
    }
    .home-link{
        margin-bottom: 2rem;
        font-weight: 500;
    }
}