.about{
    .header-home{
        height: 11rem;
        margin: 2rem;
        
    }
    .dropdown{
        margin: 2rem;
    }
}
@media (max-width: 768px) {
    .about{
        .header-home{
            height: 8rem;
            margin: 1rem;
        }
        .dropdown{
            margin: 1rem;
        }
    }
}