.footer{
    background-color: black;
    bottom: 0;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    img{
        width: 100px;
        padding-bottom: 1rem;
    }
    span{
        color: #ffffff;
    }
}

@media (max-width: 768px) {
    .footer{
        span{
            font-size: 13px;
        }
    }
}